fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-chroma

chromadb

pypdf2
python-docx

httpx
rapidfuzz